
.register{
    border: 10px solid white;
    position: absolute;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    
    overflow: auto;
    background-image: linear-gradient(red, yellow,red, yellow,red,yellow,red,yellow);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 3em;
    
        font-family: "Times New Romen";
    
    overflow: auto;
    background-image: linear-gradient(red, yellow,red, yellow,red,yellow,red,yellow);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 3em;
    
        font-family: "Times New Romen";
    .rounded-btn {
            -webkit-border-radius: 50px;
            border-radius: 50px;
            color: rgb(255, 255, 255);
            background-color: rgb(255, 0, 0);
            border: 2px solid rgb(250, 250, 250);
            font-size: 20px;
            line-height: 40px;
            padding: 0 60px;
        }
      
}
.user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff; 
}
