<app-navbar></app-navbar>
<div class="back">
    <br>
    <div class="page-header">
        <div class="row">
            <div class="col-1"> &nbsp;&nbsp;<img src="assets/logo1.jpg" width="60px" class="user-avatar" /></div>
            <br><br>

            <h1 style="color: rgb(0, 0, 0);">Acceuil S-Pointage</h1>

            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <br>
        <div class="col-sm-3">
            <br>
            <div class="card text-white bg-danger mb-3">
                <div class="card-header" href="listemployees">Employers</div>
                <div class="card-body">
                    <a  class="card-title" href="list-employees">Liste des emplyées </a>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <br>
            <div class="card text-white bg-warning mb-3">
                <div class="card-header" href="list-avances">Avances</div>
                <div class="card-body">
                    <a  href="list-avances">Liste des avances</a>
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <br>
        </div>

        <!-- /.col-sm-4 -->




        <!-- /.col-sm-4 -->
        <div class="col-sm-3">
            <br>
            <div class="card bg-danger text-white mb-3">
                <div class="card-header" href="listeconge">Congés</div>
                <div class="card-body">
                    <a   href="list-conges">Liste des congés</a>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header" href="listeprime">Primes</div>
                <div class="card-body">
                    <a   href="list-primes">Liste des primes</a>
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <br>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header" href="listefiche">Fiche de paie</div>
                <div class="card-body">
                    <a  href="listefiche">Exportation de fiche de paie en PDF</a>
                    <p class="card-text">

                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card  text-white bg-warning mb-3">
                <div class="card-header" href="calcul">Calcul salaire </div>
                <div class="card-body">
                    <a  class="card-title" href="calcul">Calcul salaire Net et Brut</a>
                    <p class="card-text">

                    </p>
                </div>
            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-sm-3">
            <div class="card  text-white bg-danger mb-3">
                <div class="card-header" href="calcul"> Contrat de travail</div>
                <div class="card-body">
                    <a  class="card-title" href="contrat">Exportation de contrat de travail en
                        PDF</a>
                    <p class="card-text">

                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card  text-white bg-warning mb-3">
                <div class="card-header" href="calcul">Pointage </div>
                <div class="card-body">
                    <a  class="card-title" href="contrat">Pointage</a>
                    <p class="card-text">

                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card  text-white bg-danger mb-3">
                <div class="card-header" href="calcul">Tableau d'information </div>
                <div class="card-body">
                    <a  class="card-title" href="contrat">Tableau d'information </a>
                    <p class="card-text">

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>