.login-page{
  .rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}

.rounded-btn:hover,
.rounded-btn:focus,
.rounded-btn:active,
.rounded-btn:visited {
    color: rgb(253, 10, 10);
    border: 2px solid rgb(255, 0, 0);
    outline: none;
}
   
    

  position: absolute;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  
  overflow: auto;
  background-image: linear-gradient(red, yellow,red, yellow,red,yellow,red,yellow);
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 3em;
  
      font-family: "Times New Romen";
  
  overflow: auto;
  background-image: linear-gradient(red, yellow,red, yellow,red,yellow,red,yellow);
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 3em;
  
      font-family: "Times New Romen";
    
}
.user-avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
}