.container{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    
    overflow: auto;
    background-image: linear-gradient(red, yellow,red, yellow,red,yellow,red,yellow);
    
    color: rgb(0, 0, 0);
    padding: 3em;
    
        font-family: "Times New Romen";

}