<div class="container-fluid">
     
  
    <nav class="navbar navbar-expand-md navbar-light ">
        <img src="assets/logo1.jpg" width="30px" class="user-avatar"/> &nbsp;
        <a href="home"style="color:black;font-size: 14px;">Acceuil |</a>
        &nbsp; 
      <a href="list-employees"style="color:black;font-size: 14px;">Employers |</a>
      &nbsp;
      <a style="font-size: 14px;color:black;"  href="list-avances">Avances |</a>
      &nbsp;
      <a style="font-size: 14px;color:black;" href="list-primes">Gestion des primes|</a>
      &nbsp;
      <a style="font-size: 14px;color:black;" href="list-conges">Gestion des conges |</a>
      &nbsp;
      
      <a style="font-size: 14px;color:black;" href="calcul">Calcul les salaires |</a>
      &nbsp;
      <a style="font-size: 14px;color:black;" href="listefiche">Fiche de paie |</a>
      &nbsp;
      <a style="font-size: 14px;color:black;" href="contrat">Contrat de travail |</a>
      
       
      &nbsp;
      <a style="font-size: 14px;" >Pointage |</a>
      &nbsp;
      
      
      
     
    </nav>
  </div>

